<html>
<body>
  <% @genres.each do |genre| %>
		<% if genre == @genres.first %>
			<li class="active"><a href="#<%= genre.name %>" data-toggle="tab"><%= genre.name %></a></li>
		<% else %>
			<li class=""><a href="#<%= genre.name %>" data-toggle="tab"><%= genre.name %></a></li>
		<% end %>
	<% end %>
</body>
</html>
