<% @product_ratings.each do |rating| %>


<td id ="comment_head">By <%= rating.account_name %> on </td><%= rating.created_at.strftime("%b %d. %Y") %></td><br>
<td id ="comment_star">Rating: <%= rating.stars %></td></br>
<td id="comment_comment"><%= rating.comment %></td><br>	
<br>   
   

<% end %>