<div class="footer-widget">
	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Service</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Online Help</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Site map</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Genres</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Policies</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Terms of Use</a></li>
						<li><a href="/homepage/guide">User guide</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>About</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Company</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
		
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<p class="pull-left">Copyright © 2015 william'sCORNER Inc. All rights reserved.</p>
		</div>
	</div>
</div>