<tbody>
	<tr>
		<td class="cart_product">
			<img src="/assets/notfound.png" alt="">
		</td>
		<td class="cart_total">
			<h4>N/A</h4>
		</td>
		<td class="cart_description">
			<h4>N/A</h4>
		</td>
		<td class="cart_price">
			<h4>$ N/A</h4>
		</td>
	</tr>
</tbody>