<!DOCTYPE html>
<html>
<head>
  <title> Message </title>
</head>
<body class="boss_body">
<div id="main_container">

  <div class="header">
    <div class="logo"><a href="/"><img src="<%= asset_path('logo.png') %>" alt="" title="" border="0" /></a></div>
    </div>
                     
    <div class="center_content">
    <div class="right_content">  
    	<br>
	    <% flash.each do |key, value| %>
		    <div class="<%= flash_class(key) %>">
		          <%= value %>
		    </div>
		<% end %>				
	    <%= link_to "<< HOME PAGE", root_url, class: "btn btn-success" %>    
    </div><!-- end of right content-->
    </div>   <!--end of center content -->                       
</div>    
</body>
</html>