<h1>William's Corner</h1>

<p>Hello <%= @account.name %>,</p>

<p>
Thank you for using William's Corner online game shopping. Please click on this <%= link_to "link", edit_account_activation_url(@account.activation_token, email: @account.email), class: "btn btn-primary" %>
 to activate your account.
</p>
