<h1>William's Corner - Delivered games</h1>

<p> Hello <%= @account.name %>, the admin has delivered the following product you ordered: </p>	

<ul>
	<li> <%= @check_out %> </li>
</ul>

<p> 
	Thank you for choosing William's Corner online game shopping.
</p>