<h1>William's Corner - Password reset</h1>

<p>To reset your password, click this <%= link_to "link", edit_password_reset_url(@account.reset_token, email: @account.email) %>.</p>

<p>
	If you change your mind and do not want to reset your password, 
	please ignore this email and your password will remain the same.
</p>