<h1>William's Corner - New coupon</h1>

<p> Hello <%= @account.name %>, a new coupon has been generated. Please submit this coupon to your cart: </p>	

<ul>
	<li> <%= @code %> </li>
</ul>

<p> 
	All users will receive this coupon, you must be hurry as the coupon is valid for only 1 day and whoever submits first will get a discount, the coupon is only valid for 1 account
</p>