<!DOCTYPE html>
<html>
<body>
	<div class="category-tab shop-details-tab"><!--category-tab-->
		<div class="col-sm-12">
			<ul class="nav nav-tabs">
				<li><a href="#review" data-toggle="tab">Review</a></li>
			</ul>
		</div>

		<div class="tab-pane fade active in" id="comment" >
			<%= form_for :rating, url: ratings_path do |f| %>  
				<div class="col-sm-12">										
					<%= f.text_area :comment, placeholder: "Comment", rows: "6", id: "comment" %>
				</div>
			<% end %>
			<div id="14284645245934" class="wE">
				<script src="http://widget-engine.com/w:0:003:14284645245934:1:ffffff:40" type="text/javascript"/>
			</div>
		</div>
	</div>
</div><!--/category-tab-->
</body>
</html>